<html lang="en">
<head>
   <%include ../partials/head %>
</head>
    
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            
        <p> Url not found in database </p>
       
        </div>  
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
    
</html>
